<footer class="footer mt-auto border-top shadow-sm">
  <div class="container f-info">
    
    <!-- Social Icons (centered) -->
    <div class="f-info-socials">
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <!-- Info Row -->
    <div class="f-info-bottom">
      <div class="f-info-text">
        &copy; Wanderlust Private Limited
      </div>
      <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
      </div>
    </div>
    
  </div>
</footer>
