<% layout("layouts/boilerplate") %>

<div class="row mt-5">
  <div class="alert alert-danger col-6 offset-3 alert-dismissible fade show" role="alert">
    <h4 class="alert-heading"><%= err.statusCode || 500 %> - Error</h4>
    <p><%= err.message || "Something went wrong!" %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
